*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
}

#newGameButton{
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 10px;
    text-decoration:none ; 
}

#newGameButton:hover{
    background-color: #9f8b77;
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0 auto;
}

#grid-container{
    width: 500px;
    height: 500px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 50px auto;
    background-color: #bbada0;
}

.grid-cell{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ccc0b3;
}