<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Document</title>
</head>

<body>
    <form action="" id="demo">
        <span>用户名：</span>
        <input type="text" name="" id="" v-model.lazy="usrname">
        <span>密码：</span>
        <input type="text" name="" id="" v-model.number="pwd">
        <span>性别：</span>
        <input type="radio" value="女" id="female" v-model='sex'>
        <label for="female">女</label>
        <input type="radio" value="男" id="male" v-model='sex'>
        <label for="male">男</label>
        <input type="submit" value="提交" @click.prevent='onSubmit'>
    </form>
    <script>
        new Vue({
            el: '#demo',
            data: {
                usrname: '',
                pwd: '',
                sex: '',
            },
            methods: {
                onSubmit(event) {
                    alert(this.$data.toString())
                }
            }
        })
    </script>
</body>

</html>